body {
    font-size: 25px;
    line-height: 1.5;
    font-family: "Crimson Text", "Georgia";
}

h1, h2 {
    text-align: center;
    font-family: "Oswald", "Helvetica Neue";
    color: #2884C3;
}

h1 {
    font-size: 72px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    width: 90%;
}

code {
    color: #CE234C;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    background-color: #e9e9e9;
    top: -1px;
    padding-top: 0px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.similarities {
    background-color: #EAFFF5;
    padding: 50px;
}

.differences {
    background-color: #FFD8D8;
    padding: 50px;
}

.blue {
    color: #2884C3;
}